$color-dark:#9a717e;
$color-light:#bda3ab;

$color-pink:#f37b83;
$color-pink-dark:#f05c66;
$color-pink-light:#f7aaaf;

$color-black:#000;
$color-white:#faefff;

$color-background:#362b2e;
$color-background-dark:#302729;

$color-green:#8dffaa;
$color-green-dark:#38ff6b;

$color-peach:#fbd5ca;

$color-blue:#96fdff;
$color-blue-dark:#00e7eb;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$grid-width: 112rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem;